InvoiceClient/InvoiceClient/xml-resources/web-service-references/InvoiceWebService/wsdl/localhost_8080/InvoiceGeneratorWebService/InvoiceWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://invoicewebservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://invoicewebservice/" name="InvoiceWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://invoicewebservice/" schemaLocation="http://localhost:8080/InvoiceGeneratorWebService/InvoiceWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="CGST">
<part name="parameters" element="tns:CGST"/>
</message>
<message name="CGSTResponse">
<part name="parameters" element="tns:CGSTResponse"/>
</message>
<message name="CESS">
<part name="parameters" element="tns:CESS"/>
</message>
<message name="CESSResponse">
<part name="parameters" element="tns:CESSResponse"/>
</message>
<message name="subTotal">
<part name="parameters" element="tns:subTotal"/>
</message>
<message name="subTotalResponse">
<part name="parameters" element="tns:subTotalResponse"/>
</message>
<message name="SGST">
<part name="parameters" element="tns:SGST"/>
</message>
<message name="SGSTResponse">
<part name="parameters" element="tns:SGSTResponse"/>
</message>
<message name="TotalCost">
<part name="parameters" element="tns:TotalCost"/>
</message>
<message name="TotalCostResponse">
<part name="parameters" element="tns:TotalCostResponse"/>
</message>
<portType name="InvoiceWebService">
<operation name="CGST">
<input wsam:Action="http://invoicewebservice/InvoiceWebService/CGSTRequest" message="tns:CGST"/>
<output wsam:Action="http://invoicewebservice/InvoiceWebService/CGSTResponse" message="tns:CGSTResponse"/>
</operation>
<operation name="CESS">
<input wsam:Action="http://invoicewebservice/InvoiceWebService/CESSRequest" message="tns:CESS"/>
<output wsam:Action="http://invoicewebservice/InvoiceWebService/CESSResponse" message="tns:CESSResponse"/>
</operation>
<operation name="subTotal">
<input wsam:Action="http://invoicewebservice/InvoiceWebService/subTotalRequest" message="tns:subTotal"/>
<output wsam:Action="http://invoicewebservice/InvoiceWebService/subTotalResponse" message="tns:subTotalResponse"/>
</operation>
<operation name="SGST">
<input wsam:Action="http://invoicewebservice/InvoiceWebService/SGSTRequest" message="tns:SGST"/>
<output wsam:Action="http://invoicewebservice/InvoiceWebService/SGSTResponse" message="tns:SGSTResponse"/>
</operation>
<operation name="TotalCost">
<input wsam:Action="http://invoicewebservice/InvoiceWebService/TotalCostRequest" message="tns:TotalCost"/>
<output wsam:Action="http://invoicewebservice/InvoiceWebService/TotalCostResponse" message="tns:TotalCostResponse"/>
</operation>
</portType>
<binding name="InvoiceWebServicePortBinding" type="tns:InvoiceWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CGST">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CESS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SGST">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TotalCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InvoiceWebService">
<port name="InvoiceWebServicePort" binding="tns:InvoiceWebServicePortBinding">
<soap:address location="http://localhost:8080/InvoiceGeneratorWebService/InvoiceWebService"/>
</port>
</service>
</definitions>